[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Show desktop
Name[fr]=Montrer le bureau
Comment=Show desktop or windows
Comment[fr]=Afficher le bureau ou les fenêtres
TryExec=rxtx-showdesktop
Exec=rxtx-showdesktop
Icon=desktop
